#featured article .post-title a {
    border: 2px solid #fff;
}

#featured article .post-title h2 {
	background-color: #000;
	padding: 10px;
	margin-left: -10px;
}

div.orbit-wrapper {
	z-index: -100;
	position: relative!important;
}

#featured .orbit-slide article .container {
	position: absolute;
	top: 255px!important;
}

